.event-form {
  margin: 180px 10px;
  color: #fff;
  button {
    color: #fff;
    padding: 13px 25px;
    cursor: pointer;
    font-size: 15px;
    background: transparent;
    transition: 0.2s;
    font-family: var(--main-font);
  }
  @media screen and (min-width: 768px) {
    margin: 150px 50px;
  }

  h2 {
    font-size: 30px;
    font-family: var(--main-font);
  }

  input,
  textarea {
    font-size: 16px;
    padding: 10px 15px;
    outline: 0;
    width: 90%;
    color: #fff;
    background: transparent;
    margin-bottom: 30px;
    margin-right: 5px;
    border: 1px solid #d1deeb;
    resize: none;
    font-family: var(--main-font);
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
}

.calendar {
  position: absolute;
  top: 460px;
  left: 80%;
  color: #fff;
  @media screen and (min-width: 768px) {
    left: 48%;
    top: 430px;
  }
}

::placeholder {
  color: #9c9c9c;
}
