.calendar-controls {
  display: flex;
  button {
    flex: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  p {
    flex: 10;
    text-align: center;
    color: #fff;
  }
}
