.calendar-controls {
  display: flex;
  flex-direction: row;
  button {
    background-color: transparent;
    border: none;
  }
  p {
    text-align: center;
    color: #fff;
    min-width: 560px;
  }
}
