input,
textarea {
  font-size: 16px;
  padding: 10px 15px;
  outline: 0;
  width: 50%;
  color: #fff;
  background: transparent;
  margin-bottom: 30px;
  display: block;
  border: 1px solid #d1deeb;
  resize: none;
  font-family: var(--main-font);
}

::placeholder {
  color: #9c9c9c;
}
