.routine-form {
  color: #fff;
  margin: 150px 10px;
  font-family: var(--main-font);
  @media screen and (min-width: 768px) {
    margin: 150px 50px;
  }
  h2 {
    font-size: 30px;
  }
  button {
    padding: 13px 25px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-family: var(--main-font);
    background: transparent;
    transition: 0.2s;
    display: block;
    clear: both;
  }
  input,
  textarea {
    font-size: 16px;
    padding: 10px 15px;
    outline: 0;
    width: 90%;
    color: #fff;
    background: transparent;
    margin-bottom: 30px;
    margin-right: 5px;
    border: 1px solid #d1deeb;
    resize: none;
    font-family: var(--main-font);
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
  select {
    outline: none;
    height: 30px;
    font-size: 16px;
    width: 99%;
    color: #fff;
    background: transparent;
    margin-bottom: 30px;
    border-radius: 0%;
    border-color: #fff;
    font-family: var(--main-font);
    @media screen and (min-width: 768px) {
      width: 52.5%;
    }
  }

  .days {
    width: 100%;
    margin-bottom: 50px;
    input {
      display: none !important;
    }
    @media screen and (min-width: 768px) {
      width: 60%;
    }
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}
::placeholder {
  color: #9c9c9c;
}

.day {
  margin: 0 5px 15px 0;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: auto;
  float: left;

  label {
    float: left;
    width: 5em;
  }
  label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
  }
  label input {
    position: absolute;
    top: -20px;
  }
  input:checked + span {
    background-color: #707680;
    color: #fff;
  }
}
