.calendar-days {
  text-align: center;
  &__day {
    background-color: transparent;
    border-radius: 50%;
    margin-right: 2%;
    padding: 12px;
    color: #fff;
    font-family: var(--main-font);
    font-size: 15px;
    &.active {
      background: #949292;
      color: #fff;
    }
    &:focus {
      outline: none;
    }
    &:last-child {
      margin-right: 0px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 5%;
    }
  }
}
