.app-sidebar {
  position: fixed;
  top: 0px;
  right: 10px;
  font-family: var(--main-font);
  z-index: 1;
  @media screen and (min-width: 768px) {
    right: 20px;
  }
  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    background-color: #fff;
    padding-top: 130px;
    @media screen and (min-width: 768px) {
      width: 30%;
    }
    a {
      font-size: 19px;
      padding: 30px 8px 8px 32px;
      text-decoration: none;
      color: #818181;
      display: block;
      transition: 0.3s;
      &:hover {
        text-decoration: line-through;
      }
    }
  }
  .hamburger-icon {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 9;
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 70%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
    span:nth-child(1) {
      top: 0px;
    }
    span:nth-child(2) {
      top: 15px;
    }
    span:nth-child(3) {
      top: 30px;
    }
    &.open span:nth-child(1) {
      top: 18px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      background: #232323;
    }
    &.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
      background: #232323;
    }
    &.open span:nth-child(3) {
      top: 18px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
      background: #232323;
    }
  }
}
